<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.google.android.netmeter"
      android:versionCode="7"
      android:versionName="0.99">
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<service android:name=".NetMeterService"/>
        <activity android:name=".NetMeter"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskList"
                  android:label="@string/top_title"/>
	    <activity android:name=".HelpActivity"
        		  android:label="@string/help_title" />       
    </application>
</manifest> 